.main-container {
  min-height: 100vh;
  background-image: var(--main-container-image-url);
}

.main-side-header-container {
  display: flex;
  gap: 3rem;
}

.main-side-header-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.main-side-header-desc {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 1.3rem;
  line-height: 1.8;
}

.main-side-header-image {
  margin-top: 3rem;
  width: 250px;
  max-width: 250px;
  height: auto;
}

.main-header-button {
  display: inline-flex;
  align-items: center;
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 6px;
  color: #fbfbfb;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500 !important;
  gap: 0.25rem;
  line-height: 1;
  padding: 10px 14px;
  text-decoration: none !important;
  transition: all 0.1s ease;
  white-space: nowrap;
}

@media (max-width: 1019px) {
    .main-side-header-container {
        flex-direction: column-reverse;
    }

    .main-side-header-image {
        margin: 0;
        width: 200px;
        max-width: 200px;
    }

    .main-side-header-desc {
        line-height: 1.5;
        max-width: 100vw;
    }
}
