.sidebar-footer-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* max-width: 260px; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
    border-bottom: 1px solid var(--color-borders);
    /* margin: 1.25rem; */
    /* padding-bottom: 1.5rem; */
    padding-bottom: .5rem;
    gap: 2px;
}

.sidebar-menu-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    background: transparent;
    border: none;
    padding: 4px .5rem;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--color-text);
    cursor: pointer;
}

.sidebar-footer-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .75rem;
}

:root {
  --github-color: #181717;
}
[data-theme="dark"] {
  --github-color: #ffffff; /* switch to white in dark mode */
}