.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 260px; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
    border-bottom: 1px solid var(--color-borders);
    /* margin: 1.25rem; */
    /* padding-bottom: 1.5rem; */
    padding-bottom: .5rem;
}

.logo-image {
  height: 22px;
  width: 22px;
  min-height: 22px;
  min-width: 22px;
}

.sidebar-title {
  font-size: 18px;
  font-weight: 600;
  margin-left: 4px;
  white-space: nowrap;
}

.color-button {
  height: 38px;
  width: 38px;
  /* border: 1px solid transparent; */
  border: none;
  background: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle-option{
    padding: .5rem 1rem;
    cursor: pointer;
}

.color-circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.color-selection-container{
    position: relative;
}

.color-dropdown {
    position: absolute;
    border: 1px solid var(--color-borders);
    background: var(--color-background);
    z-index: 99;
    top: 44px;
    transform: translate(-50%);
    border-radius: 6px;
    /* box-shadow: var(--box-shadow); */
    left: 50%;
    padding: .5rem 0;
}

.sidebar-header-btns-container {
  display: flex;
}

@media (max-width: 1019px) {
  .section-container {
    flex: 1;
    justify-content: space-between;
    border-bottom: none;
    padding: .5rem;
  }

  .sidebar-title {
    font-size: 1.5rem;
  }
}